*{
    margin: 20px;;
    padding:0;  
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif; 
    
    /* 400 500 и 700 */
    
}

.App{
    width: 800px;
}

/* #root{
    display: flex;
    justify-content: center;
   
} */




/* Цветовая тема приложения */

/* Светлая тема */
:root {
    
    --background-color: #ffffff;
    
    --text-color: #202020;
    --text-akcent-color: #032F47;

    --menu-color-1: #CBEEF7;
    --menu-color-2: #76B5C7;
    --menu-color-3: #3E8FA6;
    
    --secondary-color-1: #3e51a6;
    --secondary-color-2: #9D7BC4;
    --secondary-color-3: #e48bff;
    --secondary-color-4: #ebd86c;
    --secondary-color-5: #26e4eb;

    --sistem-color-1: #E84F64;
    --sistem-color-2: #30BAA1;
    --sistem-color-3: #6A88C6;
    
}

/* Темная тема */
.dark-theme {
    --background-color: #181c20;
    --text-color: #f7faff;
    --text-akcent-color: #7fd1ff;

    --menu-color-1: #22313a;
    --menu-color-2: #29586b;
    --menu-color-3: #3e8fa6;

    --secondary-color-1: #7b8be0;
    --secondary-color-2: #bfa6e0;
    --secondary-color-3: #e48bff;
    --secondary-color-4: #ebd86c;
    --secondary-color-5: #26e4eb;

    --sistem-color-1: #e84f64;
    --sistem-color-2: #30baa1;
    --sistem-color-3: #6a88c6;
}