.menu{
    

    background-color: var(--background-color);
}

.conteiner{
    display: flex;
}


/* Верхная панель */


.hederPanel{
    display: flex;
    justify-content: start;


    background-color: var(--menu-color-3);
    height: 10vh;
}

.square{
    width: 5vw;   
    
    color: var(--menu-color-3);  
    
}

.routeButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 20vw;
    margin: 0vw 0vw ;
    padding: 1vw;
    background-color: var(--menu-color-2);
    
}

.meniButton{
    display: flex;
    padding: 0vw 15.6vw;
    background-color: var(--menu-color-3);
}



.chengRegim{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
    padding: 0vw 5vw;
    background-color: var(--menu-color-2);
}


/* Левая панель  */

.leftPanelClose{
    background-color: var(--menu-color-1);
    height: 90vh;

    width: 5vw ;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.leftPanelOpen{
    background-color: var(--menu-color-1);
    height: 90vh;
    
    width: 25vw ;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1vw;

}

/* Правая панель */

.rightPanel{
   max-height: 90vh;
   height: 90vh;
   width: 17.5vw ;

   background-color: var(--menu-color-1);
   color: var(--text-color);
   padding: 1vw;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}





/* Рабочая область */

.workTabel{
background-color: var(--background-color);
height: 90vh;
width: 100%;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px; /* расстояние между элементами */
}

/* Примерные стили, которые можно доработать: */
.line {
  width: 15vw;
  height: 2px;
  margin-bottom: 1vw;
  margin-top: 1vw;
  background-color: var(--menu-color-3);
  flex-shrink: 0;
}

 h4 {
  margin: 2px;
  margin-bottom: 1vw;
  font-size: 16px;
}